<!DOCTYPE html>
<html lang="en">
<head>
	<title>NOMADS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<!--<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action = "/submit" method = "post" onSubmit="alert('Job submitted. Check email for results.');">
				<span class="contact100-form-title">
					Nomads <br />
					<font size = "3" >
						Synapse Detection Service
					</font>
				</span>


				<div class="wrap-input100 validate-input">
					<label class="label-input100" for="name">BOSS API Token</label>
					<input id="name" class="input100" type="text" name="token" placeholder="Enter your API Token..." required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Collection is required">
					<label class="label-input100" for="name">Collection</label>
					<input id="name" class="input100" type="text" name="col" placeholder="Enter your collection..." required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Experiment is required">
					<label class="label-input100" for="name">Experiment</label>
					<input id="name" class="input100" type="text" name="exp" placeholder="Enter your experiment..." required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Z Range is required">
					<label class="label-input100" for="name">Z Range</label>
					<input id="name" class="input100" type="text" name="z_range" placeholder="Enter Z range, separate by comma..." required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Y Range is required">
					<label class="label-input100" for="name">Y Range</label>
					<input id="name" class="input100" type="text" name="y_range" placeholder="Enter Y range, separate by comma..." required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="X Range is required">
					<label class="label-input100" for="name">X Range</label>
					<input id="name" class="input100" type="text" name="x_range" placeholder="Enter X range, separate by comma..." required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<label class="label-input100" for="email">Email Address</label>
					<input id="email" class="input100" type="text" name="email" placeholder="Enter your email...">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100" data-validate="Pipeline choice is required">
					<div class="label-input100">Which pipeline to run?</div>
					<div>
						<select class="js-select2" name="pipeline">
							<option>Please choose</option>
							<option>nomads-unsupervised</option>
							<option>nomads-classifier</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" value = "Submit">
						Send
					</button>
				</div>

				<div class="contact100-form-social flex-c-m">

					<a href="https://github.com/NeuroDataDesign/nomads" class="contact100-form-social-item flex-c-m bg2 m-r-5">
						<i class="fa fa-github" aria-hidden="true"></i>
					</a>

				</div>
			</form>

			<div class="contact100-more flex-col-c-m" style="background-image: url('../static/images/bg-01.jpg');">
				<p class = "title">
					<font color = "white">
						<font size = 10>Welcome to NOMADS <br /></font>
						<font size = 4>NeuroData's Opensource Autonomous Detection of Synapses</font>
					</font>
				</p>
				<br />
				<br />
				<p class = "summary">
						<font color = "white">
							This service will run the NOMADS unsupervised algorithm and PyMeda on data stored in the BOSS.
							The algorithm will be launched on the AWS Batch compute environment and download the results into S3.
							Requirements to run this service include access to the BOSS Data Storage and access to AWS.
							<br />
							<br />
							More features incoming!
						</font>
				</p>
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
		$(".js-select2").each(function(){
			$(this).on('select2:open', function (e){
				$(this).parent().next().addClass('eff-focus-selection');
			});
		});
		$(".js-select2").each(function(){
			$(this).on('select2:close', function (e){
				$(this).parent().next().removeClass('eff-focus-selection');
			});
		});

	</script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
</body>
</html>
